.newblog_content {
    width: 60%;
    margin-bottom: 50px;
}

.newblog_image {
    margin: 5px;    
}

.newblog_creator {
    font-size: small;
    width: 100%;
    margin: 5px;
    padding: 5px;
}

.newblog_title {
    font-size: large;
    width: 100%;
    margin: 5px;
    padding: 5px;
}

.newblog_text {
    font-size: medium;
    width: 100%;
    margin: 5px;
    padding: 5px;
}

.create_button {
    font-size: medium;
    margin: 5px;
    padding: 5px;
}
